{% extends '@MopaBootstrap/base.html.twig' %}

{% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/build/build.less'
        '@MopaBootstrapBundle/Resources/public/sass/mopabootstrapbundle-3.2.scss'
        'scss/app.scss' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
{% endblock head_style %}

{% block head_script %}
    {{ parent() }}
    {% javascripts
    'js/jquery-3.3.1.slim.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.hu.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $('[data-provider="datepicker"]').datetimepicker({autoclose: true, format: 'yyyy.mm.dd', minView: 'month', pickerPosition: 'bottom-left', todayBtn: true, startView: 'month'});
            $('[data-provider="datetimepicker"]').datetimepicker({autoclose: true, format: 'yyyy.mm.dd hh:ii', pickerPosition: 'bottom-left', todayBtn: true});
            $('[data-provider="timepicker"]').datetimepicker({autoclose: true, format: 'hh:ii', formatViewType: 'time', maxView: 'day', minView: 'hour', pickerPosition: 'bottom-left', startView: 'day'});

            // Restore value from hidden input
            $('input[type=hidden]', '.date').each(function(){
                if($(this).val()) {
                    $(this).parent().datetimepicker('setValue');
                }
            });

        });
    </script>
{% endblock head_script %}

{% block title %}{% block project_name %}Teamwork::TimeProgress{% endblock %} - {{ block('page_title') }}{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                {% if sidebar is defined %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% endif %}
                <a class="navbar-brand" href="{{ path('home') }}">{{ block('project_name') }}</a>
            </div>
            {% if navbar is defined or search ?? false %}
                <div id="navbar" class="navbar-collapse collapse">
                    {% if navbar is defined %}
                        <ul class="nav navbar-nav navbar-right">
                            {% for item in navbar %}
                                <li><a href="{{ item.path is defined ? path(item.path, item.param ?? {}) : item.url ?? '' }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if search ?? false %}
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% if sidebar is defined %}
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item</a></li>
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                        <li><a href="">More navigation</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                    </ul>
                </div>
            {% endif %}
            <div class="{% if sidebar is defined %}col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 {% else %} col-xs-12 {% endif %} main">
                <h1 class="page-header">{% block page_title %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}