{% extends 'base.html.twig' %}

{% block page_title %}{% endblock %}
{% block content %}
    {% for bar in bars %}
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ bar.title }}&nbsp;<small>{{ bar.subtitle }}</small></h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ bar.percent1 }}%;">
                        <span class="progress-text">{{ bar.percent1 }}%</span>
                    </div>
                    {% if (bar.percent1 != null) %}
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ bar.percent2 ?? (100 - bar.percent1) }}%;">
                            <span class="progress-text">{{ bar.percent2 ?? (100 - bar.percent1) }}%</span>
                        </div>
                    {% endif %}
                </div>
                {% if (bar.percent1 != null) %}
                    <div class="pull-left text-right" style="width: {{ bar.percent1 }}%; font-size: 96%;">
                        <div>{{ bar.hours1|number_format(2, '.', ' ') }} h</div>
                        <div>{{ bar.price1|number_format(0, '.', ' ') }} ft</div>
                    </div>
                {% endif %}
                {% if bar.percent2 is defined and bar.hours2 > bar.hours1 %}
                    <div class="pull-left text-right" style="width: {{ bar.percent2 }}%; font-size: 96%;">
                        <div>{{ bar.hours2|number_format(2, '.', ' ') }} h</div>
                        <div>{{ bar.price2|number_format(0, '.', ' ') }} ft</div>
                        <div class="text-muted">-{{ (bar.hours2 - bar.hours1)|number_format(0, '.', ' ') }} h</div>
                        <div class="text-muted">-{{ (bar.price2 - bar.price1)|number_format(0, '.', ' ') }} ft</div>
                    </div>
                {% endif %}
                <div class="pull-left text-right" style="width: {{ 100 - bar.percent1 - bar.percent2 ?? 0 }}%; font-size: 96%;">
                    <div>{{ bar.hours_max|number_format(2, '.', ' ') }} h</div>
                    <div>{{ bar.price_max|number_format(0, '.', ' ') }} ft</div>
                    {% if bar.percent2 is defined and bar.hours2 > bar.hours1 %}
                        <div class="text-muted">+{{ (bar.hours_max - bar.hours2)|number_format(0, '.', ' ') }} h</div>
                        <div class="text-muted">{{ (bar.price_max - bar.price2 + bar.price1)|number_format(0, '.', ' ') }} ft</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
